.commentsContainer {
  margin-top: 2rem;
}

.commentsTitle {
  font-size: 1.2rem;
  color: var(--text);
  margin-bottom: 1rem;
}

.noComments {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: var(--text);
}

.comment {
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
}

.errorWrapper {
  margin: 5rem 0;
}
