.postsContainer {
  padding: 0 0.5rem 1rem;
  margin: 0 auto;
  max-width: 1200px;
}

.title {
  font-size: 2.6rem;
  color: var(--title);
  margin-bottom: 1rem;
  text-align: center;
}

.errorWrapper {
  margin: 5rem 0;
}

.totalPosts {
  color: var(--text);
}

.noPosts {
  text-align: center;
  margin: 5rem;
  color: var(--title);
}
