.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.label {
  font-size: 0.8rem;
  color: var(--title);
}

.input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid var(--border);
  border-radius: 0.3rem;
  transition: border-color 0.3s;
}

.input:focus {
  outline: none;
  border-color: var(--shadow);
}

.errorMessage {
  color: var(--red);
  font-size: 0.8rem;
}
