.container {
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text);
}

.title {
  font-size: 15rem;
}

.subtitle {
  font-size: 3rem;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .title {
    font-size: 10rem;
  }

  .subtitle {
    font-size: 2rem;
  }
}
